body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
}

#logo {
  text-align: center;
}

#content {
  padding: 1em;
}

.box {
  background: #f3f3f3;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 10px;
  margin-right: 0.5em;
  display: inline-block;
}

.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

/* TODO - Add your own styles here */

.profile-section h4 {
  font-weight: bold;
}
/*ul {
  display: inline-block;
}*/

/* nth-child starting from 3*/
/* test
ul:nth-child(5) .box {
  color: green;
  background-color: red;
};*/
#profile-title {
  text-align: center;
  margin: 30px 0 5px 0;
}

#profile-title h3 {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  
}
.profile-picture {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: 3px solid #990000;
  vertical-align: middle;
}
#logo {
  padding: 15px;
  background-color: #f3f3f3;
}
